{# ranking/rankingData.html.twig #}
<div class="row">
    <h1 class="mt-3">Ranking Solo/Dúo</h1>
    <div class="col-12 mt-4 text-center">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="py-3 card border border-secondary leader-card">
                    <div class="leader-band border border-primary bg-primary">
                        <i class="fas fa-crown leader-icon"></i><span> Leader</span>
                    </div>
                    <h5>{{ rankingSolo.entries[0].summonerName }} - {{ rankingSolo.entries[0].leaguePoints }} LP</h5>
                    <p class="text-muted">Wins : {{ rankingSolo.entries[0].wins }} - Losses: {{ rankingSolo.entries[0].losses }}</p>
                </div>
            </div>
            <div class="row col-12 mx-auto pb-3">
                <div class="col-12 col-md-6 mt-3">
                    <div class="py-3 card border border-secondary secondary-card">
                        <div class="secondary-band border border-success bg-success">
                            <span> Second</span>
                        </div>
                        <h5>{{ rankingSolo.entries[1].summonerName }} - {{ rankingSolo.entries[1].leaguePoints }} LP</h5>
                        <p class="text-muted">Wins : {{ rankingSolo.entries[1].wins }} - Losses: {{ rankingSolo.entries[1].losses }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <div class="py-3 card border border-secondary secondary-card">
                        <div class="secondary-band border border-danger bg-danger">
                            <span> Third</span>
                        </div>
                        <h5>{{ rankingSolo.entries[2].summonerName }} - {{ rankingSolo.entries[2].leaguePoints }} LP</h5>
                        <p class="text-muted">Wins : {{ rankingSolo.entries[2].wins }} - Losses: {{ rankingSolo.entries[2].losses }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="mt-3">Ranking Flex</h1>
    <div class="col-12 mt-4 text-center">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="py-3 card border border-secondary leader-card">
                    <div class="leader-band border border-primary bg-primary">
                        <i class="fas fa-crown leader-icon"></i><span> Leader</span>
                    </div>
                    <h5>{{ rankingFlex.entries[0].summonerName }} - {{ rankingFlex.entries[0].leaguePoints }} LP</h5>
                    <p class="text-muted">Wins : {{ rankingFlex.entries[0].wins }} - Losses: {{ rankingFlex.entries[0].losses }}</p>
                </div>
            </div>
            <div class="row col-12 mx-auto pb-3">
                <div class="col-12 col-md-6 mt-3">
                    <div class="py-3 card border border-secondary secondary-card">
                        <div class="secondary-band border border-success bg-success">
                            <span> Second</span>
                        </div>
                        <h5>{{ rankingFlex.entries[1].summonerName }} - {{ rankingFlex.entries[1].leaguePoints }} LP</h5>
                        <p class="text-muted">Wins : {{ rankingFlex.entries[1].wins }} - Losses: {{ rankingFlex.entries[1].losses }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <div class="py-3 card border border-secondary secondary-card">
                        <div class="secondary-band border border-danger bg-danger">
                            <span> Third</span>
                        </div>
                        <h5>{{ rankingFlex.entries[2].summonerName }} - {{ rankingFlex.entries[2].leaguePoints }} LP</h5>
                        <p class="text-muted">Wins : {{ rankingFlex.entries[2].wins }} - Losses: {{ rankingFlex.entries[2].losses }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>