{# base.html.twig #}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
	    <meta name="title" content="Legends GG - Estadísticas de League of Legends" />
	    <meta name="description" content="Las estadísticas de tu clasificación, kda, tier, winrate... Hecho por y para invocadores" />
	    <meta name="keywords" content="kda, winrate, stats, estadísticas, lol, league of legends, rank, tier" />
	    <title>{% block title %}Legends GG - Estadísticas de League of Legends{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('vendors/bootstrap-4.4.0-dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}" />
        <link rel="icon" type="image/png" href="{{ asset('img/icon.png') }}" />
        {% endblock %}
    </head>
    <body>
        <header class="header">
        {% include 'header.html.twig' %}
        </header>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('vendors/bootstrap-4.4.0-dist/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('vendors/bootstrap-4.4.0-dist/js/popper.js') }}"></script>
        <script src="{{ asset('vendors/bootstrap-4.4.0-dist/js/bootstrap.min.js') }}"></script>
        <script>
        	$(document).on("scroll", function(){
            if ($(document).scrollTop() > 86){
                $("#banner").addClass("shrink");
            } else {
                $("#banner").removeClass("shrink");
            }
            });
        </script>
        {% endblock %}
    </body>
</html>
