{# matchlist.html.twig #}
{% for match in matches.matches %}
    <div class="col-12 border border-dark shadow mt-1 bg-light">
        <div class="py-3 h4">
            <div class="row">
                <div class="col-2">
                    <img alt="{{ render(controller(
                        'App\\Controller\\ChampionController::getChampionByKey',
                        { 'api': api,'key': match.champion }
                    )) }}" src="{{ ddragon ~ lol_patch ~ '/img/champion/' ~  render(controller(
                        'App\\Controller\\ChampionController::getChampionByKey',
                        { 'api': api,'key': match.champion }
                    )) ~ '.png' }}" width="80px" >
                </div>
                <div class="col-7">
                    {{ match.timestamp }} - {{ match.lane }}
                </div>
                <div class="col-3">
                    {{ render(controller(
                        'App\\Controller\\MatchController::getMatchData',
                        { 'api': api, 'matchId': match.gameId }
                    ), {default: '<h5>Cargando datos...</h5>'}}) }}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12 border border-dark shadow bg-light mt-5">
        <div class="text-danger py-3 h4 text-center">
            No existen partidas.
        </div>
    </div>
{% endfor %}