{# summoner.html.twig #}
{% extends "base.html.twig" %}
{% block title %}{{ parent() }}{{ summoner.name }}{% endblock %}
{% block body %}
<div class="container main-container">
    <div class="row">
        <div class="col-12 border border-dark shadow bg-light">
            <div class="row pb-3 pt-4">
                <div class="col-xs-6 col-md-2 text-center">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{ lol_patch }}/img/profileicon/{{ summoner.profileIconId }}.png"
                        class="img img-fluid rounded rounded-circle w-50"
                        alt="{{ summoner.profileIconId }}">
                    <img src="{{ asset('img/level/' ~ levelBorder ~ '.png') }}"
                        class="img img-fluid icon-border"
                        alt="{{ levelBorder }}">
                    <span>{{ summoner.summonerLevel }}</span>
                </div>
                <div class="col-xs-6 col-md-10">
                    <b>{{ summoner.name }}</b><br/>
                </div>
            </div>
        </div>
        <div class="col-12 border border-dark shadow bg-light mt-5">
            <div class="text-info py-3 h4 text-center">
                <i class="fas fa-wrench"></i> Estamos trabajando duro para traerte las mejores estadísticas.
            </div>
        </div>
    </div>
</div>
{% endblock %}